<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://placeholdit.co//i/112x28?&text=KAY : CO" alt="company logo">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu" (click)="toggleNavbar()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/new-in">
        New in
      </a>
      <a class="navbar-item" routerLink="/clothing">
        Clothing
      </a>
      <a class="navbar-item" routerLink="/petite-clothing">
        Petite
      </a>
      <a class="navbar-item" routerLink="/shoes">
        Shoes
      </a>
      <a class="navbar-item" routerLink="/accessories">
        Accessories
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" routerLink="sale">
          Sale
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="sale/tops">
            Tops
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="!auth.isLoggedIn()" routerLink="/register">
            <strong>Register</strong>
          </a>
          <!-- <a *ngIf="!auth.isLoggedIn()" routerLink="/login">
            Sign in
          </a> -->
          <app-modal *ngIf="!auth.isLoggedIn()"></app-modal>
          <a *ngIf="auth.isLoggedIn()" routerLink="/profile">
            Welcome <strong>{{ auth.getUserDetails()?.name }}</strong>
          </a>
          <a *ngIf="auth.isLoggedIn()" (click)="auth.logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>KAY : CO</strong> by <a href="https://github.com/kwood15">Kay Wood</a>
    </p>
  </div>
</footer>
