<div class="container">
  <div class="columns">
    <div class="column">
      Product image
    </div>
    <div class="column">
      <mat-tab-group>
        <mat-tab label="Product Information">
          <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Corrupti placeat minima rem numquam, quidem iusto, tempora,
              laboriosam illum nobis neque eveniet consequatur facere deleniti?
              Itaque quibusdam quas atque reiciendis consequuntur.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Sizing">
          <p>Specification</p>
        </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>
