<div class="container">
  <div *ngIf="product$" class="columns">
    <div class="column">
      <img src="{{ product$.url }}" alt="{{ product$.title }}">
    </div>
    <div class="column">
      <mat-tab-group>
        <mat-tab label="Product Information">
          <div class="content">
            <p>{{ product$.title }}</p>
          </div>
        </mat-tab>
        <mat-tab label="Sizing">
          <p>No data available</p>
        </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>
