<div class="container">
  <div class="card">
    <div class="card-content">
        <h1 class="form-signin-heading">Sign in</h1>
        <p class="lead">Not a member? Please <a routerLink="/register">register</a> instead.</p>
        <form (submit)="login()">
          <div class="form-group">
            <mat-form-field>
              <input class="form-control" matInput placeholder="Enter your email" name="email" [formControl]="email" [(ngModel)]="credentials.email" required>
              <mat-icon matSuffix>alternate_email</mat-icon>
              <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input class="form-control" matInput placeholder="Enter your password" name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="credentials.password">
              <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
            </mat-form-field>
          </div>
          <button type="submit" mat-button-raised>Sign in!</button>
        </form>
    </div>
  </div>
</div>


